@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: #000;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
ul,
li {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-decoration: none;
}

.site_container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
}
@media screen and (max-width: 1440px) {
	.site_container {
		padding-left: 15px;
		padding-right: 15px;
	}
}
/* Header styles */
nav ul li {
	color: #ffffff;
	font-family: "Satoshi-Bold", sans-serif;
	margin-right: 20px;
}

.soon-label {
	font-size: 10px;
	font-family: "Satoshi-Bold";
	position: relative;
	left: 2px;
	bottom: 7px;
	padding: 2px 4px;
	font-size: 10px;
	color: #a429ff;
	background-color: black;
	border-radius: 4px;
}

.animate-btn {
	border: 2px solid white;
	border-radius: 5%;
	line-height: 1.1;
}

.animate-btn:hover {
	border: none;
	padding: 2px;
}

.connect-btn {
	font-size: 18px;
	font-family: "Satoshi-bold";
	background-color: transparent;
	transition: background-color 0.2s ease-in-out;
	overflow: hidden;
	position: relative;
	padding: 11px 30px;
	line-height: 1.1;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	content: "";
}

.connect-btn::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-color: #0d99ff;
	transition: height 0.2s ease-in-out;
	pointer-events: none;
	content: "Connect";
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	overflow: hidden;
}

.button-content {
	position: relative;
	transition: height 0.2s ease-in-out, opacity 0.1s ease-in-out;
}

.connect-btn:hover {
	background-color: transparent;
}

.connect-btn:hover::before {
	height: 100%;
}

.connect-btn:hover .button-content {
	transform: translateY(-100%);
	opacity: 0;
}

.connect-btn:not(:hover) .button-content {
	transform: translateY(0);
	opacity: 1;
}

.connect-btn:active {
	transform: translateY(2px);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.open-menu,
.close-menu {
	display: none;
}

/* Header styles end */

/* Banner styles */

.heading-font {
	font-family: "MonumentExtendedRegular";
	line-height: 1.1;
	font-weight: 700;
}

.sub-heading {
	font-weight: 600;
	font-family: "Satoshi Bold";
	background-image: linear-gradient(to right, #3d8bff 0%, #ab23ff 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	line-height: 1.4;
}
/* 
Banner styles end */

/* 
cronpass styles */

.custom-font {
	line-height: 1.1;
	font-family: "MonumentExtendedRegular";
	font-weight: 900;
}

.sub-custom-font {
	font-family: "Satoshi Bold";
	background-image: linear-gradient(to right, #3d8bff 0%, #ab23ff 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	line-height: 1.3;
}

.creon-li li {
	font-family: "Satoshi-Regular";
	font-size: 18px;
	line-height: 1.3;
}

.creon-btn {
	width: 400px;
	font-size: 18px;
	font-family: "Satoshi-bold";
	background: linear-gradient(to right, #3d8bff 0%, #ab23ff 100%);
	transition: background-color 0.2s ease-in-out;
	overflow: hidden;
	position: relative;
	padding: 11px 30px;
	line-height: 1.1;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	content: "";
}

.creon-btn::before {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0;
	background-color: #0d99ff;
	transition: height 0.2s ease-in-out;
	pointer-events: none;
	content: "Buy Creon Pass";
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	overflow: hidden;
}

.creon-btn-content {
	position: relative;
	transition: height 0.2s ease-in-out, opacity 0.1s ease-in-out;
}

.creon-btn:hover {
	background-color: transparent;
}

.creon-btn:hover::before {
	height: 100%;
}

.creon-btn:hover .creon-btn-content {
	transform: translateY(-100%);
	opacity: 0;
}

.creon-btn:not(:hover) .creon-btn-content {
	transform: translateY(0);
	opacity: 1;
}

.creon-btn:active {
	transform: translateY(2px);
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* creonpass styles end */

/* profiting styles */

.profiting-font {
	font-family: "MonumentExtendedRegular";
	line-height: 1.1;
}

/* profiting styles ends */

/* vision font */
.vision-font {
	font-family: "MonumentExtendedRegular";
	line-height: 1.3;
}

.text-gradient {
	background-image: linear-gradient(to right, #3d8bff 30%, #ab23ff 100%);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent;
}

/* vision font end */

/* 
Revnue section styles */
.revenue_block_wrap {
	@apply bg-[#13171d];
}
/* Revenue sections tyles end */
